body{
    font-family:var(--mainfont);
}
.header{
    padding: 57px 0;
}
.header ul{
    display: flex;
    flex-wrap: wrap;
    gap: 36px;
}
.bar{
    display: none;
}
.header.active{
    color: #FB2E86;
}
.search form{
    border: 1px solid #E7E6EF;
    border-radius: 5px;
    display: flex;
}
.search input{

    border: none;
    outline: none;
    padding:0 15px;
}
.search button{
    border: none;
    outline: none;
    background-color: var(--primary);
    padding: 8px 8px;
}

@media screen and (max-width:1220px) {
    .list,.header .search{
        display: none;
    }
    .bar{
        display: block;
    }
}
.list a {
  color: #0D0E43;
}

.list a.active {
  color: var(--primary); 
}


/*---------footer-----------*/

.text-wihte{
    color: #fff;
}
.footer{
    background-color: #EEEFFB;
    padding: 50px 0;
}
.footer .row{
    gap: 30px;
}
.footer .right-side{
   
    width: calc ((100% - 30px) / 2 );
}
.footer .left-side{
    gap: 35px;
    align-items: flex-start;
    width: calc ((100% - 30px) / 2 );

}
.footer-item{
    gap: 45px;
    width: calc( (100% - 90px) / 3);
}
.footer a,.addressinfo{
    color: #8A8FB9;
}
.footer .right-side .row{
    gap: 45px;
    align-items: flex-start;
}
@media screen and (max-width: 992px ){
    .footer .left-side,.footer .right-side{
        width: 100%;
    }
}
@media screen and (max-width: 576px ){
    .footer-item{
        width: 100%;
    }
    .footer{ 
        text-align: center;
    }
}


/*---------clients-----------*/
.clients{
    padding: 50px 0;
}
.clients img{
    width: 1000px;
    padding-left: 200px;
    
}
.clients .row{
    flex-wrap: nowrap;
    gap: 15px ;
    overflow-x:auto;
}
.clients .logo{
    
}

@media screen and (max-width:900px ){
 .clients .logo{
    width: calc( (100% - 30px ) /2 );
 }   
}