body{
    font-family:var(--mainfont);
}
.header{
    padding: 57px 0;
}
.header ul{
    display: flex;
    flex-wrap: wrap;
    gap: 36px;
}
.bar{
    display: none;
}
.header.active{
    color: #FB2E86;
}
.search form{
    border: 1px solid #E7E6EF;
    border-radius: 5px;
}
.search input{

    border: none;
    outline: none;
    padding:0 15px;
}
.search button{
    border: none;
    outline: none;
    background-color: var(--primary);
    padding: 8px 8px;
}

@media screen and (max-width:1220px) {
    .list,.search{
        display: none;
    }
    .bar{
        display: block;
    }
}
.list a {
  color: #0D0E43;
}

.list a.active {
  color: var(--primary); 
}


/*---------footer-----------*/

.text-wihte{
    color: #fff;
}
.footer{
    background-color: #EEEFFB;
    padding: 50px 0;
}
.d-flex{
    display: flex;
}
.flex-direction{
    flex-direction: column;
}
.gap1{
    gap: 5px;
}
.gap2{
    gap: 10px;
}
.gap3{
    gap: 15px;
}
.gap4{
    gap: 20px;
}
.gap5{
    gap: 25px;
}
.gap6{
    gap: 30px;
}

.footer .right-side{
    width: 60%;
}
.footer .left-side{
    gap: 35px;
    align-items: flex-start;
}
.footer-item{
    gap: 45px;
}
.footer a,.addressinfo{
    color: #8A8FB9;
}